{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "styless",
      {
        "cwd": "babelrc",
        "import": "styles/variables.import.less"
      }
    ],
    "styled-components"
  ]
}
